body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navbar header {
    width: 110%;
    height: 70px;
    background-color: rgb(83, 83, 230);
    position: fixed;
    margin-top: -10px;
    padding-left: 10px;
    margin-left: -10px;
}
.navi {
    display: inline-flex;

}
.navi ul {
    font-family: 'Times New Roman', Times, serif;
}
.navi ul li {
    list-style-type: none;
    position: relative;
    margin-left: 900px;
}
.navi ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
    color: white;
    padding: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.navi ul li a:hover {
    color: rgb(186, 224, 13);
    text-shadow: 1px 1px yellowgreen;
}
.navi img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;

}

.loginbg {
    background-image: url('images/formbg4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1350px;
    height: 87vh;
    margin-left: -10px;
    margin-top: 15px;
    display: inline-block;
}

.loginform fieldset {

    width: 350px;
    height: 45vh;
    margin-left: 150px;
    margin-right: auto;
    margin-top: 60px;
}


.loginform {
    padding: 80px;
}

.fild marquee h3 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-shadow: blue;
    text-transform:uppercase;
    text-shadow: 2px 2px #FF0000;
}

.loginform button {
    font-size: 25px;
    background-color: lightblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    margin-left: 220px;
    border-radius: 10px;
}
.fild {
    border-radius: 10px; 
    border-color: darkblue;
    border-width: 5px;
    background-image: url('images/adminlogo.png');
}
.loginform input{
    margin-left: 40px;
    padding-top: 10px;
    border-color: black;
    font-size: larger;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}
.loginform label {
    color: blue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}
/* Order form*/
.orderformpage {
    background-image: url('images/orderformbg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
    margin-top: -3px;
    padding: 8px;
    margin-left: -8px;
}

.orderform fieldset {
    margin-top: 50px;
    display: inline;
}
.order-field {
    width: 300px;
    margin-left: 150px;
    padding: 30px;
    border-radius: 30px;
    border-width: 2px;
    border-color: #FF0000;
}

.order-field legend {
    color: yellowgreen;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}
.orderform input {
    padding: 5px;
    display: inline-flex;
    width: 300px;
    font-weight: 800;
}
.orderform label{
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-shadow: 1px 2px red;
}
.orderform textarea {
    width: 300px;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.orderform button {
    font-size: 25px;
    border-radius: 10px;
    display: flex;
    color: green;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: auto;
    margin-right: auto;

}

/*Home page*/ 
.pagetop {
    width: 1367px;
    height: 5vh;
    background-color: rgb(83, 83, 230);
    display: inline-flex;
    margin-left: -8px;
    margin-top: -8px;
    position:fixed;
}
.pagetop h3{
    font-family: 'Times New Roman', Times, serif;
    margin-top: -0.2px;
    font-size: larger;
    display: flex;
    margin-left: 50px;

    
}
.pagetop h4 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: -0.2px;
    font-size: larger;
    margin-right: 50px;
    display: flex;
}

.pagetop span {
    color: greenyellow;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    
}

.pagetop marquee {
    font-size: larger;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 1px  red;
    text-rendering: auto;
    text-transform: uppercase;
}
/* End top section*/

/* start nav section*/
.Home {
    width: 1352px;
    height: 100%;
    background-image: url('images/homebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-left: -11px;

}

.Home header{
    width: auto;
    height: 20vh;
}

header h3 {
    color: white;
    font-size: larger;
    margin-top: 25px;  
    font-weight: 800;
    margin-left: 10px;
    text-shadow: 2px 1px red;
    text-transform: uppercase;
} 

header img {
    display: inline-flex;
    margin-top: 10px;
    margin-left: 15px;
    width: 80px;
    height: 10vh;

}


header .home-navi {
    display: inline-flex;
       
}



.home-navi ul li{
    list-style: none;
    margin-left: 350px;   
}

.home-navi ul li a{
    text-decoration: none;
    padding: 70px;
    font-size: larger;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: -65px;
    display: inline-flex;
}
/* end of nav section*/

/* start carousel and heading */

.home-details {
    position: absolute;
    top: 10%; /* Position the details in the middle of the parent div */
    padding: 20px;
}

.home-details h2{
            margin-top: 50px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: white;
            font-size: 50px;
            font-weight: 800;
            letter-spacing: 5px;
            position: relative;
            text-transform: uppercase;
            animation: text 5s infinite;
            display: flex;
            margin-left: 250px;

}

@keyframes text {
    0% {
        color: rgb(241, 19, 19);
    
    }

    30% {
        letter-spacing: 15px;
        color: aqua;
     
    }

    85% {
        color: yellowgreen;
        letter-spacing: 5px;
        
    }
}

.mySlides {
    display: none;
}
.mySlides img {
    vertical-align: middle;
}
.home-carousel {
    position: absolute;
    top: 35%;
    left: 30%;
    width: 600px;
    height: 50vh;
    border: 2px solid greenyellow;
    
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: .4;
    }    
    to {
        opacity: 1;
    }
}

/* end of carousel and heading section */

/* start the subscroption */
.subscription {
    position: absolute;
    top: 88%;
    left: 40%;
    width: 350px;
    height: 10vh;
    background-image: linear-gradient(greenyellow, lightblue);
}
.subscription form 
{
    margin-top: 5px;
}
.subscription form label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font: bolder;
}
.subscription form input {
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-size: large;
}
.subscription form button {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    margin-left: 50%;
    margin-top: 5px;
}
.subscription form button:hover{
    background-color: rgb(5, 209, 5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* end subscription */

/* start get into touch */
.get-into{
    width: 600px;
    height: 50vh;
    background-color: gray;
    margin-left: 50px;
}

.get-into aside {
    position: absolute;
    width: 600px;
    height: 400px;
    right: 150px;
    background-image: linear-gradient(navy, lightblue );
    display: flex;
    margin-right: -80px;
    margin-top: -400px;
}

.contact h3 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px red;
    text-transform: uppercase;
    text-decoration: solid;
    margin-left: 200px;
    
}


.contact h4 {
    font-weight: 800;
    color: rgb(236, 240, 2);
    font-family: 'Times New Roman', Times, serif;
    margin-top:50px;
    font-size: 30px;
    display: flex;
    position: absolute;
    margin-left: 10px;
}

.admin-info {
    position: absolute;
    margin-top: 100px;
}
.contact ul li {
    display:flex;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: bolder;
    font-weight: 800;
}

.admin-info li span{
    color: greenyellow;
    margin-left: 10px;
}

.contact .mail{
    margin-left: 20px;
}

.contact-form {
    position: absolute;
    top: 40%;
}

.contact-form h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: 800;
    font: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 25px;
}

.contact-details label{
    font-weight: 800;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    color: rgb(245, 208, 43);
}

.contact-details input {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font: bolder;
    border-radius: 5%;
    border-color: red;
}

form .msg-label {
    margin-left: 120px;
}

.contact-details button {
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-left: 300px;
    border-radius: 15%;
    color: blue;
}

.contact-details button:hover{
    background-color: rgb(5, 209, 5);
}

/* Footer start*/

.footer-sec footer {
    width: 1350px;
    height: 20vh;
    background-color: rgb(83, 83, 230);
    display: flex;
    margin-left: -10px;
    margin-top: -8px;
}

footer img {
    display: flex;
    margin-left: 35%;
    margin-right: auto;
    width: 70px;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}
footer h3{
    position: absolute;
    color: greenyellow;
    margin-left: 570px;
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2px 3px red;
    
}
footer p {
    position: absolute;
    margin-left: 570px;
    margin-top: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

footer p span {
    color: bisque;
}

/* footer is end*/

